<!DOCTYPE html>

<html lang pt-br>
 
  <head>
    <meta charset="utf-8">
    <title>Organico's - Cadastrar produtos</title>
    <link rel="stylesheet" href="..\web\css\style.css">
  </head>
    
  <body>
    <header>
      <nav class="navbar">

        <div class="logo">
          <img id="logo_img" src="../web/img/logo.png" alt="Organico's - produtos orgânicos de verdade!">
        </div>

        <ul class="menu">

          <li class="list-item">
            <a href="../web/index.html">Home</a>
          </li>

          <li class="list-item">
          <a href="sobre.html">Sobre</a>
          </li>

          <li class="list-item">
            <div class="dropdown">
              <button class="dropbtn">Cadastro</button>
                <div class="dropdown-content">
                  <a href="/static/adic_carrinho.html">Cadastrar produtos</a>
                  <a href="/lista">Ver produtos cadastrados</a>
                  <a href="/static/del.html">Deletar produtos</a>
                </div>
            </div>
          </li>

          <li class="list-item">
            <div class="dropdown">
              <button class="dropbtn">Vendas</button>
                <div class="dropdown-content">
                  <a href="#">Adicionar ao carrinho</a>
                  <a href="#">Remover do carrinho</a>
                  <a href="#">Finalizar venda</a>
                </div>
            </div>
          </li>

          <li class="list-item">
            <div class="dropdown">
              <button class="dropbtn">Relatório</button>
                <div class="dropdown-content">
                  <a href="#">Quantidade de vendas de cada produto</a>
                  <a href="#">Dinheiro recebido - produto</a>
                  <a href="#">Dinheiro recebido - total</a>
                </div>
            </div>
          </li>

          <li class="list-item">
            <a href="#">Sair</a>
          </li>

        </ul>
      </nav>

      <img src="../web/img/header2.png" alt="Organico's - produtos orgânicos de verdade!" width="100%">
    
    </header>

    {{lista | safe}}

    <footer>
      <p class="main">Sistema Organico's | Grupo 03 | Projeto Div 2022</p>
    </footer>

  </body>

</html>